* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-container {
  background: url("/static/img/header-image.png") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -71px;
}

.header-text {
  padding: 150px 1.5rem;
}

.header-text h1 {
  background: -webkit-gradient(linear, left top, right top, from(#8f46d0), color-stop(0%, #ff3767), color-stop(17%, #ffc037), color-stop(39%, #64fa11), color-stop(60%, #37b4ff), color-stop(89%, #b337ff));
  background: linear-gradient(90deg, #8f46d0 0%, #ff3767 0%, #ffc037 17%, #64fa11 39%, #37b4ff 60%, #b337ff 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-size: 4em;
  font-weight: 600;
}

.header-text p {
  font-size: 24px;
  color: #8a8a8a8f;
  margin-top: -15px;
}

.header-text span {
  text-transform: none !important;
}

.header-text .buy-btn {
  font-weight: 600;
  background-color: #64b924;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-text .buy-btn a {
  color: #fff;
  text-decoration: none;
}

.header-text .buy-btn:hover {
  background-color: #4d921a;
}

.body-container {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0e314d));
  background: linear-gradient(180deg, black 0%, #0e314d 100%);
  min-height: 100vh;
}

.featured-title {
  color: #fff;
  font-size: 2em;
  margin-top: 20px;
}

.featured-card h1 {
  color: #fff;
  font-size: 2em;
  display: -ms-grid;
  display: grid;
  text-shadow: 2px 2px 8px #000000;
}

.featured-card h1 span {
  font-size: 13px;
  color: #8c8c8c;
}

.featured-card .btn-listen {
  padding: 3px 10px;
  background-color: #64b924;
  margin-top: 11px;
}

.featured-card .btn-listen a {
  color: #fff;
  text-decoration: none;
}

.featured-card .btn-listen:hover {
  background-color: #4d921a;
}

.card-one {
  background: url("/static/img/featured-one.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 29px;
  border-radius: 8px;
  height: 187px;
  -webkit-box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
}

.card-two {
  background: url("/static/img/featured-two.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 29px;
  border-radius: 8px;
  height: 187px;
  -webkit-box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
}

.card-three {
  background: url("/static/img/featured-three.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  padding: 29px;
  border-radius: 8px;
  height: 187px;
  -webkit-box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 41px 10px rgba(0, 0, 0, 0.75), inset 0 0 0 3px rgba(255, 255, 255, 0.07);
}

.recommended-container {
  padding-bottom: 73px;
  margin-top: 35px;
}

.album-one {
  background: url("/static/img/recommend-one.jpg") no-repeat;
  -webkit-box-shadow: 0px 0px 28px -8px #1e92eb, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 28px -8px #1e92eb, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-top: 20px;
}

.album-one:hover {
  opacity: 0.6;
}

.album-two {
  background: url("/static/img/recommend-two.jpg") no-repeat;
  -webkit-box-shadow: 0px 0px 28px -8px #ff4d17, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 28px -8px #ff4d17, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-top: 20px;
}

.album-two:hover {
  opacity: 0.6;
}

.album-three {
  background: url("/static/img/recommend-three.jpeg") no-repeat;
  -webkit-box-shadow: 0px 0px 28px -8px #91b112, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 28px -8px #91b112, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-top: 20px;
}

.album-three:hover {
  opacity: 0.6;
}

.album-four {
  background: url("/static/img/recommend-four.jpeg") no-repeat;
  -webkit-box-shadow: 0px 0px 28px -8px #eb1e1e, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
          box-shadow: 0px 0px 28px -8px #eb1e1e, inset 0 0 0 3px rgba(255, 255, 255, 0.07);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 8px;
  margin-top: 20px;
}

.album-four:hover {
  opacity: 0.6;
}

.recommended-card-info {
  margin-top: 15px;
}

.recommended-card-info h1 {
  color: #fff;
  font-size: 1.3em;
}

.recommended-card-info h1 span {
  color: #8c8c8c;
}

@media (max-width: 990px) {
  .header-text h1 {
    font-size: 3em;
  }
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.market-container {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0e314d));
  background: linear-gradient(180deg, black 0%, #0e314d 100%);
  margin-top: -71px;
  padding-bottom: 100px;
  min-height: 100vh;
}

.header-video {
  height: 84px;
}

.embed-responsive-16by9::before {
  padding-top: 25.25% !important;
}

.market-header {
  margin-top: 150px;
}

.market-header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  color: #fff;
}

.btn-create {
  background-color: #64b924;
}

.btn-create a {
  color: #fff;
  text-decoration: none;
}

.btn-create:hover {
  background-color: #4d921a;
}

.shop-container {
  margin-top: 20px;
}

.market-table-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  padding: 10px 0px 15px 0px;
  background-color: #313131;
}

.market-table-header h1 {
  font-size: 16px;
  font-weight: 700;
  color: #ffff;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
}

.market-table-header a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background-color: #64b924;
  padding: 6px 8px;
  border-radius: 8px;
  letter-spacing: 1.25px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.35);
}

.market-table-header a:hover {
  background-color: #4d921a;
}

.market-content {
  margin-top: -2px;
  width: 100%;
  background-color: #fafafa;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 0px 0px #9e9e9e;
          box-shadow: 0px 3px 0px 0px #9e9e9e;
}

.market-content .buy-btn {
  text-decoration: none;
  color: #64b924;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  padding: 0;
}

.market-content .buy-btn:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.market-content .fa-trash-alt {
  text-decoration: none;
  color: #ff5b5b;
  margin-right: 5px;
}

.market-content .fa-trash-alt:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.market-content .fa-edit {
  text-decoration: none;
  color: #566bd0;
}

.market-content .fa-edit:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.market-content .btn-edit {
  padding: 0;
}

.market-content thead {
  background-color: #dcdcdc;
}

.market-content tr {
  border-top: 1px solid #d2d2d2;
}

.market-content td {
  padding-top: 10px;
  color: #8f8f8f;
}

.market-content td h1 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #707070;
  display: inline-block;
}

.market-content th {
  font-size: 12px;
  text-transform: uppercase;
  padding: 9px 0px 9px 0px;
  color: #707070;
}

.market-content th:first-of-type {
  font-weight: 700;
  text-align: center;
}

.market-content tr > td:first-of-type {
  font-weight: 700;
  text-align: center;
}

.market-altcolor tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.music-title a {
  text-decoration: none;
  color: #00c3ff;
}

.music-title a:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-container {
  background-color: #1b1b1b;
}

.footer-info h1 {
  color: #505050;
  font-size: 19px;
  padding: 30px;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-brand {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-brand:hover {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.nav-item a {
  color: #fff;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.btn-login {
  padding-right: 15px;
  color: #fff;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-login:hover {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.btn-register {
  color: #fff;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-register:hover {
  color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

.username {
  color: #fff;
  font-weight: 600;
}

.username a {
  margin-left: 7px;
  font-size: 15px;
}

.fa-bars {
  color: #fff;
  font-size: 35px;
}

@media (max-width: 991px) {
  .navigation-container {
    background-color: #000;
  }
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
button:focus,
input[type='text']:focus,
textarea:focus {
  outline: none !important;
}

.listing-container {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0e314d));
  background: linear-gradient(180deg, black 0%, #0e314d 100%);
  margin-top: -71px;
  min-height: 100vh;
}

.listing-content {
  margin-top: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px #9e9e9e;
          box-shadow: 0px 3px 0px 0px #9e9e9e;
  border-radius: 8px;
  padding: 20px;
}

.listing-header {
  margin-bottom: 15px;
}

.listing-header h1 {
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.listing-header h2 {
  font-size: 15px;
  color: #ff5b5b;
}

.input-group-text {
  background: none;
  border: none;
}

.listing-label {
  font-weight: 700;
}

.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #d9d9d9;
}

.form-control::-webkit-input-placeholder {
  font-weight: 800;
}

.form-control:-ms-input-placeholder {
  font-weight: 800;
}

.form-control::-ms-input-placeholder {
  font-weight: 800;
}

.form-control::placeholder {
  font-weight: 800;
}

.form-control:focus {
  border-bottom: 2px solid #64b924;
}

.btn-cancel {
  background-color: #ff5b5b;
  padding: 5px 37px 5px 37px;
  border: none;
  color: #fff;
  font-weight: 700;
}

.btn-cancel a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.btn-cancel a:hover {
  text-decoration: none;
}

.btn-cancel:hover {
  color: #fff;
}

.btn-cancel:hover {
  background-color: #e24a4a;
}

.btn-create-listing {
  background-color: #64b924;
  padding: 5px 37px 5px 37px;
  border: none;
  color: #fff;
  font-weight: 700;
}

.btn-create-listing a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.btn-create-listing a:hover {
  text-decoration: none;
}

.btn-create-listing:hover {
  color: #fff;
}

.btn-create-listing:hover {
  background-color: #4d921a;
}

* {
  font-family: 'Nunito', sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.login-container {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#0e314d));
  background: linear-gradient(180deg, black 0%, #0e314d 100%);
  margin-top: -71px;
  height: 100vh;
}

.login-content {
  margin-top: 150px;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 0px 0px #9e9e9e;
          box-shadow: 0px 3px 0px 0px #9e9e9e;
  border-radius: 8px;
  padding: 20px;
}

.login-header {
  margin-bottom: 15px;
}

.login-header h1 {
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.no-sign,
.invalid {
  margin-top: 10px;
  font-size: 15px;
}

.no-sign a,
.invalid a {
  text-decoration: none;
}

.invalid {
  color: #ff5b5b;
}
/*# sourceMappingURL=style.css.map */