@import 'manager';

.market-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(14, 49, 77, 1) 100%);
    margin-top: -71px;
    height: 100vh;
}

.market-header {
    margin-top: 150px;
    h1 {
        color: #fff;
    }
}

.shop-container {
    margin-top: 20px;
}

.market-table-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 10px;
    background-color: #1c1c1c;

    h1 {
        font-size: 16px;
        color: #ffff;
        text-transform: uppercase;
        @include ldheader-text;
    }

    h2 {
        font-size: 12px;
        color: #d3d3d3;
        @include ldheader-text;
    }
}

.market-content {
    margin-top: -2px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px rgb(158, 158, 158);

    a {
        text-decoration: none;
        color: $green-btn;

        &:hover {
            color: #478817;
            text-decoration: none;
        }
    }

    thead {
        background-color: #dcdcdc;
    }

    tr {
        border-top: 1px solid #d2d2d2;
    }

    td {
        padding-top: 10px;
        color: #8f8f8f;
        h1 {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #707070;
        }
    }

    th {
        font-size: 12px;
        text-transform: uppercase;
        padding: 9px 0px 9px 0px;
        color: #707070;

        &:first-of-type {
            font-weight: 700;
            text-align: center;
        }
    }
}

.market-content tr > td:first-of-type {
    font-weight: 700;
    text-align: center;
}

.market-altcolor tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
