@import 'manager';

.market-container {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(14, 49, 77, 1) 100%);
    margin-top: -71px;
    padding-bottom: 100px;
}

.header-video {
    height: 84px;
}

.embed-responsive-16by9::before {
    padding-top: 25.25% !important;
}

.market-header {
    margin-top: 150px;
    h1 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 700;
        color: #fff;
    }
}

.btn-create {
    background-color: $green-btn;

    a {
        color: $pure-white;
        text-decoration: none;
    }

    &:hover {
        background-color: $green-hover;
    }
}

.shop-container {
    margin-top: 20px;
}

.market-table-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 10px 0px 15px 0px;
    background-color: #313131;

    h1 {
        font-size: 16px;
        color: #ffff;
        text-transform: uppercase;
        @include ldheader-text;
    }

    a {
        font-size: 12px;
        color: $pure-white;
        text-decoration: none;
        background-color: $green-btn;
        padding: 6px 8px;
        border-radius: 8px;
        @include ldheader-text;

        &:hover {
            background-color: $green-hover;
        }
    }
}

.market-content {
    margin-top: -2px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0px 3px 0px 0px rgb(158, 158, 158);

    .buy-btn {
        text-decoration: none;
        color: $green-btn;

        &:hover {
            color: $green-hover;
            text-decoration: none;
        }
    }

    .fa-trash-alt {
        text-decoration: none;
        color: $delete-red;
        margin-right: 5px;

        &:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    }

    .fa-edit {
        text-decoration: none;
        color: $edit-blue;

        &:hover {
            opacity: 0.7;

            text-decoration: none;
        }
    }

    .btn-edit {
        padding: 0;
    }

    thead {
        background-color: #dcdcdc;
    }

    tr {
        border-top: 1px solid #d2d2d2;
    }

    td {
        padding-top: 10px;
        color: #8f8f8f;
        h1 {
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: #707070;
            display: inline-block;
        }
    }

    th {
        font-size: 12px;
        text-transform: uppercase;
        padding: 9px 0px 9px 0px;
        color: #707070;

        &:first-of-type {
            font-weight: 700;
            text-align: center;
        }
    }
}

.market-content tr > td:first-of-type {
    font-weight: 700;
    text-align: center;
}

.market-altcolor tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.music-title a {
    text-decoration: none;
    color: #00c3ff;
}
