@import 'manager';

.navbar-brand {
    color: $pure-white;
    font-size: 1.4em;
    @include navigation-pack;
}

.nav-item a {
    color: $pure-white;
    @include navigation-pack;
}

.btn-login {
    padding-right: 15px;
    color: $pure-white;
    @include navigation-pack;
}

.btn-register {
    color: $pure-white;
    @include navigation-pack;
}

.username {
    color: $pure-white;
    font-weight: 600;

    a {
        margin-left: 7px;
        font-size: 15px;
    }
}

.fa-bars {
    color: $pure-white;
    font-size: 35px;
}

@media (max-width: 991px) {
    .navigation-container {
        background-color: #000;
    }
}
