<!-- templates/base.html -->
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8cba328980.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <title>Muzica</title>
</head>

<body>
    {% include 'partials/navigation.html' %}

    {% block home %}{% endblock %}
    {% block market %}{% endblock %}
    {% block listing %}{% endblock %}
    {% block listing_edit %}{% endblock %}

    {% include 'partials/footer.html' %}
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>