{% extends 'base.html' %}
{% block content %}
<div class="listing-container">
    <div class="header-video">
        <div class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
                <source src="/static/video/artist.webm" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="listing-content">
                    <div class="col-md-12">
                        <div class="listing-header">
                            <h1 class="text-center">
                                <h1 class="text-center">{{ title_type }} {{ title }}</h1>
                                <h2 class="text-center">{{ noinput }}</h2>
                        </div>

                        <form action="/market/create" method="POST">
                            {% include 'partials/listing_form.html' %}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}