{% extends 'base.html' %}

{% block market %}
<div class="market-container">
    <div class="header-video">
        <div class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
                <source src="/static/video/artist.webm" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="market-header text-center">
                    <h1>Market Listings</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO: Make source link go into a tag for Title -->
    <div class="shop-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="market-table-header">
                        <h1>Music</h1>
                        <a href="/market/create">
                            Create Listing
                        </a>
                    </div>
                    <table class="market-content market-altcolor">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Song</th>
                                <th>Artist</th>
                                <th>Price</th>
                                <th>Purchase</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for listings in listings %}
                            <tr>
                                <div class="music-properties">
                                    <td>
                                        <h1 class="music-position"> 1 </h1>
                                    </td>
                                    <td>
                                        <!-- TODO: Add hover message-->
                                        <h1 class="music-title">
                                            <a href="{{ listings.source }}">
                                                {{ listings.title }}
                                            </a>
                                        </h1>
                                    </td>
                                    <td>
                                        <h1 class="music-artist">{{ listings.artist }}</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-cost">$ {{ listings.price }}</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-purchase">
                                            <a href="" class="buy-btn">Buy</a>
                                        </h1>
                                    </td>
                                    <td>
                                        <h1 class="music-delete">
                                            <form method='POST' action='/market/{{ listings._id }}/delete'>
                                                <button class="btn btn-edit">
                                                    <a href="/market">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </button>
                                            </form>

                                        </h1>
                                        <h1 class="music-edit">
                                            <button class="btn btn-edit">
                                                <a href="/market/{{ listings._id }}/edit">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </button>

                                        </h1>
                                    </td>
                                </div>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}