{% extends 'base.html' %}

{% block market %}
<div class="market-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="market-header text-center">
                    <h1>Market</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- TODO: Make modular -->
    <div class="shop-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="market-table-header">
                        <h1>Music</h1>
                        <a href="/create">
                            Create Listing
                        </a>
                    </div>
                    <table class="market-content market-altcolor">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Song</th>
                                <th>Artist</th>
                                <th>Cost</th>
                                <th>Purchase</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div class="music-properties">
                                    <td>
                                        <h1 class="music-position">1</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-title">Title</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-artist">N/A</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-cost">$0</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-purchase">
                                            <a href="" class="buy-btn">Buy</a>
                                        </h1>
                                    </td>
                                    <td>
                                        <h1 class="music-edit">
                                            <a href="">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </h1>
                                        <h1 class="music-edit">
                                            <a href="">
                                                <i class="fas fa-edit"></i>
                                            </a>

                                        </h1>
                                    </td>
                            </tr>
                            <!-- TODO: REMOVE LATER -->
                            <tr>
                                <div class="music-properties">
                                    <td>
                                        <h1 class="music-position">2</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-title">Title</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-artist">N/A</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-cost">$0</h1>
                                    </td>
                                    <td>
                                        <h1 class="music-purchase">
                                            <a href="" class="buy-btn">Buy</a>
                                        </h1>
                                    </td>
                                    <td>
                                        <h1 class="music-edit">
                                            <a href="">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </h1>
                                        <h1 class="music-edit">
                                            <a href="">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </h1>
                                    </td>
                                </div>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}