{% extends 'base.html'%}

{% block content %}
<!-- REGISTER CONTENT -->
<div class="login-container">
    <div class="header-video">
        <div class="embed-responsive embed-responsive-16by9">
            <video autoplay loop class="embed-responsive-item">
                <source src="/static/video/artist.webm" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="login-content">
                    <div class="col-md-12">
                        <div class="login-header">
                            <h1 class="text-center">
                                <h1 class="text-center">Register</h1>
                        </div>
                        <form action="{{ url_for('register') }}" method="POST">
                            <div class="form-group">
                                <label class="listing-label">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" name="username" placeholder="Create your username">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="listing-label">Password</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control" name="password" placeholder="Create your password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Create</button>
                            <h1 class="no-sign invalid">{{invalid_register}}</h1>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}